extends layout

block content
  .page.js-page
      .one-page-sidebar
        // One Page Sidebar Header
        .one-page-sidebar-header
          // One Page Logo
          .one-page-logo
            // Logo Image
            a.logo-image(href='/hr_managers')
              img(src='/images/logo2.png')
            br
            a.logo-image(href='/hr_managers')
              img(src='/images/manager.png')
        .one-page-nav-wrapper.js-custom-scrollbar
          ul.one-page-nav.js-one-page-nav(data-prepend-to='.js-prepend-mobile-menu')
            li.is-active
              a(href='#things_to_be_considered')
                span.one-page-nav-icon
                  i.fa.fa-tags
                | Things to be considered
                span.fa.fa-caret-down.pull-right(style='color:grey!important;')
              ul
                li
                  a(href='#add_team')
                    span.one-page-nav-icon
                      i.fa.fa-plus-circle
                    | Add Team
                li
                  a(href='#number_of_job_posts')
                    span.one-page-nav-icon
                      i.fa.fa-envelope
                    | Number of Job posts
                li
                  a(href='#enabling_sms')
                    span.one-page-nav-icon
                      i.fa.fa-check
                    | Enabling SMS
            li
              a(href='#numbers')
                span.one-page-nav-icon
                  i.fa.fa-check-circle
                | Numbers in Dashboard
                span.fa.fa-caret-down.pull-right(style='color:grey!important;')
              ul
                li
                  a(href='#jobs_added')
                    span.one-page-nav-icon
                      i.fa.fa-plus-circle
                    | Jobs Added
                li
                  a(href='#jobs_assigned')
                    span.one-page-nav-icon
                      i.fa.fa-cubes
                    | Jobs Assigned
                li
                  a(href='#inactive_for_7_days')
                    span.one-page-nav-icon
                      i.fa.fa-low-vision
                    | Inactive for 7 days
                li
                  a(href='#open_positions')
                    span.one-page-nav-icon
                      i.fa.fa-user
                    | Open positions
                li
                  a(href='#resumes_not_tagged')
                    span.one-page-nav-icon
                      i.fa.fa-sticky-note-o
                    | Resumes not tagged
            li
              a(href='#under_review')
                span.one-page-nav-icon
                  i.fa.fa-pencil-square-o
                | Under Review
            li
              a(href='#resume_status')
                span.one-page-nav-icon
                  i.fa.fa-pencil-square-o
                | Resume Status
        footer.one-page-sidebar-footer
          | All Rights Reserved.
          a(href='http://www.masymbol.com/', target='_blank') Masymbol Technologies
          |  Pvt Ltd © 2016
      .one-page-content
        // Header
        header.header.large.header-one-page.js-header-fixed
          .container-fluid.container-spaced
            .row
              .col-md-3.col-sm-6.col-xs-5
                .visible-sm-block.visible-xs-block
                  // Logo Image
                  a.logo-image(href='/')
                    img.img-responsive(src='https://s3.amazonaws.com/skilledtree-public/logo.png', alt='logo')
                  // End of Logo Image
              .col-md-9.col-sm-6.col-xs-7
                // Menu
                nav.right.helper
                  ul.menu.sf-menu.js-menu
                    li
                      a(href='/hr_managers')
                        i.fa.fa-home.fa-lg
                    li
                      a(href='/hr_managers/introduction')
                        | Introduction
                    li
                      a(href='/hr_managers/team') Team
                    li
                      a(a='', href='#') Members
                      ul
                        li
                          a(href='/hr_managers/employees') Employees
                        li
                          a(href='/hr_managers/recruiter') Recruiter
                        li
                          a(href='/hr_managers/manager') Manager
                    li
                      a(href='#') Jobs
                      ul
                        li
                          a(href='/hr_managers/Jobs') Jobs
                        li
                          a(href='/hr_managers/resumes') Resumes
                    li
                      a(href='/hr_managers/gamification') Gamification
                    li
                      a(href='/hr_managers/reports') Reports
                    li
                      a(href='#') Branding
                      ul
                        li
                          a(href='/hr_managers/career') Career Page
                        li
                          a(href='/hr_managers/companybrand') Company Branding
                    li
                      a.active(href='/hr_managers/dashboard') Dashboard
                    li
                      a(href='#') Header
                      ul
                        li
                          a(href='/hr_managers/header') Header Icons
                        li
                          a(href='/hr_managers/settings') Settings
                // End of Menu
        // End of Header
        #content
          .container-fluid.container-spaced
            .col-md-12
              #add_team.category-info.helper.pt0
                h1
                  | Add Team
                p.category-content
                  | Before getting into SkilledTree, Add your teams in your company. This can be done in the ‘Settings’ page.
            .col-md-12
              br
              #number_of_job_posts.category-info.helper.pt0
                h1
                  | Number of Job posts
                p.category-content
                  | Number of Job posts can be decided by SkilledTree. If you need more count, you need to contact SkilledTree for further payments.
            .col-md-12
              br
              #enabling_sms.category-info.helper.pt0
                h1  Enabling SMS.
                p.category-content
                  | SMS will be enabled by SkilledTree. You can write an Email to us. While adding employees,  you might need to have the maximum SMS count. SMS won’t be sent if the count is zero.
            .col-md-12
              br
              #jobs_added.category-info.helper.pt0
                h1
                  | Jobs Added
                p.category-content
                  | Total number of jobs posted by the HRs in your company.
            .col-md-12
              #jobs_assigned.category-info.helper.pt0
                h1
                  | Jobs Assigned
                p.category-content
                  | Total number of jobs assigned by the Hr Manager in your company and
                  | the total number of jobs which are posted by you.
            .col-md-12
              #inactive_for_7_days.category-info.helper.pt0
                h1
                  | Inactive for 7 days
                p.category-content
                  | If the status of the referral candidates were not updated by you for about a week those total count will appear here.
            .col-md-12
              #open_positions.category-info.helper.pt0
                h1
                  | Open positions
                p.category-content
                  | Total number of vacant Job positions.
            .col-md-12
              #resumes_not_tagged.category-info.helper.pt0
                h1
                  | Resumes not tagged
                p.category-content
                  | Resumes which are uploaded by employees in your company but are not tagged to recruiters by the Hr manager.
            .col-md-12
              #under_review.category-info.helper.pt0
                h1
                  | Under Review
                p.category-content
                  | Total number of referral resumes which are under the status of ‘Under Review’.
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | ShortListed
                p.category-content
                  | After under reviewing the resumes if the candidates got shortlisted, their resume status should be updated with ‘Short Listed’.Total number of the resumes which are under the status of ‘Short listed’ will be displayed in the dashboard.
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | Interview
                p.category-content
                  | Total number of ShortListed resumes which are opted for further interview process will be interviewed by the assigned recruiters
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | Selected
                p.category-content
                  | Total number of selected candidates in the interview process
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | Rejected
                p.category-content
                  | Total number of rejected candidates in the interview process.
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | On Process
                p.category-content
                  | Total number of resumes which are updated by the recruiters in the status of ‘On Process’.
            .col-md-12
              #resume_status.category-info.helper.pt0
                h1
                  | Joined
                p.category-content
                  | Total number of candidates who have completed all the interview process are yet to join.
            .col-md-12
              #under_review.category-info.helper.pt0
                h1
                  | Closed Positions
                p.category-content
                  | Total number of filled job positions after referral candidate joined.
            .row
              .col-md-8
                img(src='/images/dashboard.png', width='100%')
    // End of One Page Content
    script(src='https://s3.amazonaws.com/skilledtree-public/all.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
