extends layout

block content
    .page.js-page
      // One Page Sidebar
      .one-page-sidebar
        // One Page Sidebar Header
        .one-page-sidebar-header
          // One Page Logo
          .one-page-logo
            // Logo Image
            a.logo-image(href='/hr_managers')
              img(src='/images/logo2.png')
            br
            a.logo-image(href='/hr_managers')
              img(src='/images/manager.png')
        .one-page-nav-wrapper.js-custom-scrollbar
          ul.one-page-nav.js-one-page-nav(data-prepend-to='.js-prepend-mobile-menu')
            li.is-active
              a(href='#create_account')
                span.one-page-nav-icon
                  i.fa.fa-user-plus
                | Create an account by employee
            li
              a(href='#create_account_by_you')
                span.one-page-nav-icon
                  i.fa.fa-user
                | Create an account by you
                span.fa.fa-caret-down.pull-right(style='color:grey!important;')
              ul
                li
                  a(href='#add_multiple_employees')
                    span.one-page-nav-icon
                      i.fa.fa-user-plus
                    | Add multiple employees by csv/ods/xls file
                li
                  a(href='#by_manually')
                    span.one-page-nav-icon
                      i.fa.fa-edit
                    | By Manually
            li
              a(href='#add_employee')
                span.one-page-user-plus
                  i.fa.fa-eye
                | Add Employee ID
            li
              a(href='#change')
                span.one-page-nav-icon
                  i.fa.fa-refresh
                | Change Employee Team
            li
              a(href='#resend_employee_credentials')
                span.one-page-nav-icon
                  i.fa.fa-send
                | Resend Employee Credentials
            li
              a(href='#send_message')
                span.one-page-nav-icon
                  i.fa.fa-envelope
                | Send a message to employee
            li
              a(href='#delete_employee')
                span.one-page-nav-icon
                  i.fa.fa-trash
                | Delete Employee
            li
              a(href='#referral_bonus')
                span.one-page-nav-icon
                  i.fa.fa-user-plus
                | Referral Bonus Payouts
        // End of One Page Nav
        // One Page Sidebar Footer
        footer.one-page-sidebar-footer
          | All Rights Reserved.
          a(href='http://www.masymbol.com/', target='_blank') Masymbol Technologies
          |  Pvt Ltd © 2016
        // End of One Page Sidebar Footer
      // End of One Page Sidebar
      // One Page Content
      .one-page-content
        // Header
        header.header.large.header-one-page.js-header-fixed
          .container-fluid.container-spaced
            .row
              .col-md-3.col-sm-6.col-xs-5
                .visible-sm-block.visible-xs-block
                  // Logo Image
                  a.logo-image(href='/')
                    img.img-responsive(src='https://s3.amazonaws.com/skilledtree-public/logo.png', alt='logo')
                  // End of Logo Image
              .col-md-9.col-sm-6.col-xs-7
                // Menu
                nav.right.helper
                  ul.menu.sf-menu.js-menu
                    li
                      a(href='/hr_managers')
                        i.fa.fa-home.fa-lg
                    li
                      a(href='/hr_managers/introduction')
                        | Introduction
                    li
                      a(href='/hr_managers/team') Team
                    li
                      a.active(href='#') Members
                      ul
                        li
                          a.active(href='/hr_managers/employees') Employees
                        li
                          a(href='/hr_managers/recruiter') Recruiter
                        li
                          a(href='/hr_managers/manager') Manager
                    li
                      a(href='#') Jobs
                      ul
                        li
                          a(href='/hr_managers/Jobs') Jobs
                        li
                          a(href='/hr_managers/resumes') Resumes
                    li
                      a(href='/hr_managers/gamification') Gamification
                    li
                      a(href='/hr_managers/reports') Reports
                    li
                      a(href='#') Branding
                      ul
                        li
                          a(href='/hr_managers/career') Career Page
                        li
                          a(href='/hr_managers/companybrand') Company Branding
                    li
                      a(href='/hr_managers/dashboard') Dashboard
                    li
                      a(href='#') Header
                      ul
                        li
                          a(href='/hr_managers/header') Header Icons
                        li
                          a(href='/hr_managers/settings') Settings
                // End of Menu
        // End of Header
        #content
          .container-fluid.container-spaced
            .col-md-12
              // Category Info
              #create_account.category-info.helper.pt0
                br
                h1 Create an account by employee
                p.category-content
                  | Find the Team UID in team page and send this team UID to all of employees of this team. You already know what is the purpose of the team. If not go to team section and understand it.
                  br
                  | 								Each employee can sign up with team UID. Once employee signed up you can view the employees in view employees section and employee will job notification whenever you post a job.
            .col-md-12
              #create_account_by_you.category-info.helper.pt0
                br
                h1
                  | Create an account by you
                p.category-content
                  | There are two different ways to create an account for employees. One is upload a excel file and second one is manual.
                  br
                  | 								What are the employee information required to setup an account for them? You require only FullName and Email/Phone number of employees to setup an account for them.
            .col-md-12
              #add_multiple_employees.category-info.helper.pt0
                br
                h1
                  | Add multiple employees by CSV/ODS/XLS file
                p.category-content
                  | Make sure that you have added team in the Team page. Employees list can be uploaded in the form of an excel with the extension of *.xls,*.xlsx,*.csv. File should have Name, Email/Phone.
                p.category-content
                  | Click ‘Email List’ button in the ‘Add Employee’ section. Choose employees list file, team and click ‘Proceed’. Next page you will see preview of uploaded employee list, here you need to map the columns of employee list file with SkilledTree employee records. Map your employee list with SkilledTree records as below image and click ‘Import’ button.
                p.category-content
                  | Once you imported it may take few minutes to create accounts for them. Just wait few minute and refresh the ‘View employees’ section.
                p.category-content
                  b Note:
                  |  Duplicate emails are not allowed. App simply discard those duplicate emails without creating an account.
                p
            .row
              .col-md-8
                img(src='/images/bymanual.png', width='100%')
            br
            br
            .row
              .col-md-8
                img(src='/images/emp.png', width='100%')
            br
            br
            .row
              .col-md-8
                img(src='/images/emp2.png', width='100%')
            br
            br
            .row
              .col-md-8
                img(src='/images/emp3.png', width='100%')
            br
            br
            .col-md-12
              // Category Info
              #by_manually.category-info.helper.pt0
                br
                h1
                  | By Manually
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Employees can be added manually by entering their FullName and Email/Phone. More than one employee can be added at a time by clicking the ‘Add More’ Button.
                p.category-content
                  | To create employee account, you just navigate to ‘Employee’ section in left side menu and choose ‘Add Employee’.
                p.category-content
                  | Click ‘Employee Address’ button and in the pop up add employee full name, phone and choose team.  If you want to add more than one employee click ‘Add More’ to add them. Once you added the employees click ‘Submit’.
                p.category-content
                  | Once you added it may take few minutes to create accounts for them. Just wait few minute and refresh the ‘View employees’ section.
                p.category-content
                  b Note:
                  |  Duplicate emails are not allowed. App simply discard those duplicate emails without creating an account.
                p
            .row
              .col-md-8
                img(src='/images/addemployee.png', width='100%')
            .col-md-12
              // Category Info
              #add_employee.category-info.helper.pt0
                h1
                  | Add Employee ID
                p.category-content
                  | You can add employee ID while you create an account by manual for employee. And you can add employee ID by clicking ‘-’ in the ‘Emp Id’ section of View Employee page.
            .col-md-12
              #change.category-info.helper.pt0
                h1
                  | Change Employee Team
                p.category-content
                  | If you want to move an employee from one team to another team, this can be possible by clicking team name of correspond employee in the the View Employees page.
            .col-md-12
              // Category Info
              #resend_employee_credentials.category-info.helper.pt0
                h1
                  | Resend Employee Credentials
                p.category-content
                  | You can send login credentials to the employee if the employee has not yet joined SkilledTree or not yet received the credentials by clicking the resend icon in the View Employee. He/She will be receiving either an Email or  SMS based on the information you had given.
            .col-md-12
              #send_message.category-info.helper.pt0
                h1
                  | Send a message to employee
                p.category-content
                  | You can  stay connected with any employees  in the organization by clicking the chat icon in the View Employee page.
            .row
              .col-md-8
                img(src='/images/viewemployee2.png', width='100%')
            .col-md-12
              // Category Info
              #delete_employee.category-info.helper.pt0
                h1
                  | Delete Employee
                p.category-content
                  | Employees information can be deleted from the database when he/she resigned from the job by clicking the delete icon in the Employee List.
            br
            .col-md-12
              // Category Info
              #referral_bonus.category-info.helper.pt0
                br
                h1
                  | Referral Bonus Payouts
                p.category-content
                  | This list shows the information of the referral candidates who got selected and the employees who referred him/her will get the referral rewards based on the company policy.
    // End of One Page Content
    script(src='https://s3.amazonaws.com/skilledtree-public/all.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
