extends layout

block content
    .page.js-page
      // Header
      .header.header-over.large
        .container
          .row
            .col-md-2.col-sm-6.col-xs-5
              // Logo Image
              a.logo-image(href='/')
                img.img-responsive(src='https://s3.amazonaws.com/skilledtree-public/logo.png', alt='logo')
              // End of Logo Image
              // Languages
              // End of Languages
            .col-md-10.col-sm-6.col-xs-7
              // Menu
              nav.right.helper
                ul.menu.sf-menu.js-menu.menu-light(style='color:black !important;')
                  li
                    a(href='/')
                      i.fa.fa-home.fa-2x
                  li
                    a(href='/hr_head') HR Head 
                  li
                    a(href='/hr_regional') HR Regional 
                  li
                    a(href='/hr_managers')
                      | HR Manager
                  li
                    a(href='/recruiter') Recruiter
                  li
                    a(href='/employees') Employees
                  li
                    a.active(href='/friends/introduction') Friends
                  li
                    a(href='/faq') FAQs
              // End of Menu
      // End of Header
      // Header Back
      .header-back.header-back-bg-3.header-back-large
        .header-back-container
          .container
            .row
              .col-md-12
                // Page Info
                .page-info.helper.center
                  h1.page-title(style='color:white !important;') Friends
                  h2.page-description(style='color:white !important;') Hire.  Quality.  Candidates.
                .call-to-action-buttons
                  center
                    a.call-to-action-button(href='friends/introduction') Get Started
                // End Page Info
      // End of Header Back
      #content
        .container
          .row
            .col-md-12
              // Promo Title
              .promo-title-wrapper.helper.pt60
                h3.promo-title  SkilledTree Documents 
                p.promo-description  The following are the major functionalities that the friends can be opted for. 
              // End of Promo Title
              .row
                .col-md-6
                  // Box
                  .box.box-small-icon-alt
                    i.fa.fa-user-plus.pe-7s-plugin.box-icon
                    a(href='/friends/share_resumes')
                      h4.box-title Add Friends
                    p.box-description
                      | Employees can add their friends by uploading employee(csv/xls) or by adding employee manually or by integrating Gmail,Yahoo & Hotmail contacts.
                  // End of Box
                .col-md-6
                  // Box
                  .box.box-small-icon-alt
                    i.fa.fa-pencil.pe-7s-eyedropper.box-icon
                    a(href='/friends/current_openings')
                      h4.box-title Apply for a job
                    p.box-description
                      | He can apply to a job refer his friends by uploading their resumes to the job he applied for.
                  // End of Box
              .row
                .col-md-6
                  // Box
                  .box.box-small-icon-alt
                    i.fa.fa-map-marker.pe-7s-tools.box-icon
                    a(href='/friends/my_profile')
                      h4.box-title Application Tracking System 
                    p.box-description
                      | His status of the application can be notified by him via email Gem notification whenever it is updated by the concerned recruiter
                  // End of Box
                .col-md-6
                  // Box
                  .box.box-small-icon-alt
                    i.fa.fa-plug.pe-7s-cup.box-icon
                    a(href='/friends/header')
                      h4.box-title Stay Connected
                    p.box-description
                      | Friends can connect with other professionals on their network by maintaining the professional relationship with them.They can expand their network by accepting the friend request.
                  // End of Box
              // Promo Title
              // End of Promo Title
        // Call to Action
        // End of Call to Action
      // Footer
      footer.js-footer-is-fixed
        // Footer Extended
        // End of Footer Extended
        // Footer Default
        .footer
          .container
            .row
              .col-md-3.col-sm-3.col-xs-12
                .footer-logo-wrapper
                  // Logo Image
                  a.logo-image(href='index.html')
                    img(src='https://s3.amazonaws.com/skilledtree-public/skilledtree-logo.png', alt='logo')
                  // End of Logo Image
                  // Slogan
                  p.slogan
                    | Hire.
                    br
                    | Quality.
                    br
                    | Candidates.
                  // End of Slogan
              .col-md-9.col-sm-9.col-xs-12
                .footer-wrapper
                  // Scroll top
                  span.scroll-top.js-scroll-top
                    i.fa.fa-angle-up
                  // End of Scroll top
                  // Version
                  // End of Version
                  // Footer Menu
                  ul.footer-menu.helper.right
                    li
                      a(href='/hr_head')  HR Head
                    li
                      a(href='/hr_regional')  HR Regional
                    li
                      a(href='/hr_managers')  HR Manager
                    li
                      a(href='/recruiter')  Recruiter 
                    li
                      a(href='/employees')  Employees 
                    li
                      a(href='/friends')  Friends 
                    li
                      a(href='/faq') FAQs
                  // End of Footer Menu
                  // Copyright
                  p.copyright.helper.right
                    | All Rights Reserved.
                    a(href='http://www.masymbol.com/', target='_blank') Masymbol Technologies
                    |  Pvt Ltd © 2016
                  // End of Copyright
        // End of Footer Default
      // End of Footer
    script(src='https://s3.amazonaws.com/skilledtree-public/all.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
