extends layout

block content
    .page.js-page
      // One Page Sidebar
      .one-page-sidebar
        // One Page Sidebar Header
        .one-page-sidebar-header
          // One Page Logo
          .one-page-logo
            // Logo Image
            a.logo-image(href='/recruiter')
              img(src='/images/logo2.png')
            br
            a.logo-image(href='/recruiter')
              img(src='/images/recruiter.png')
            // End of Logo Image
          // End of One Page Logo
          // One Page Meta
          // End of One Page Meta
        // End of One Page Sidebar Header
        // One Page Nav
        .one-page-nav-wrapper.js-custom-scrollbar
          ul.one-page-nav.js-one-page-nav(data-prepend-to='.js-prepend-mobile-menu')
            li.is-active
              a(href='#Assigned_resumes')
                span.one-page-nav-icon
                  i.fa.fa-file-o
                | Assigned Resumes
                span.fa.fa-caret-down.pull-right(style='color:grey!important;')
              ul
                li
                  a(href='#Assign_a_job')
                    span.one-page-nav-icon
                      i.fa.fa-black-tie
                    | Assign a job
                li
                  a(href='#Update_the_resume_status')
                    span.one-page-nav-icon
                      i.fa.fa-refresh
                    | Update the resume status
                li
                  a(href='#Edit_the_skills')
                    span.one-page-nav-icon
                      i.fa.fa-edit
                    | Edit the skills
                li
                  a(href='#Resumes_based_on_circle')
                    span.one-page-nav-icon
                      i.fa.fa-file
                    | Resumes based on circle
                li
                  a(href='#Archive')
                    span.one-page-nav-icon
                      i.fa.fa-archive
                    | Archive
                li
                  a(href='#Send_a_Message')
                    span.one-page-nav-icon
                      i.fa.fa-comment
                    | Send a Message
                li
                  a(href='#Download_report')
                    span.one-page-nav-icon
                      i.fa.fa-download
                    | Download Report
            li
              a(href='#All_Resumes')
                span.one-page-nav-icon
                  i.fa.fa-file
                | All Resumes
                span.fa.fa-caret-down.pull-right(style='color:grey!important;')
              ul
                li
                  a(href='#Assign_job')
                    span.one-page-nav-icon
                      i.fa.fa-black-tie
                    |  Assign Job
                li
                  a(href='#Download_Resume')
                    span.one-page-nav-icon
                      i.fa.fa-download
                    | Download Resume
        // End of One Page Nav
        // One Page Sidebar Footer
        footer.one-page-sidebar-footer
          | All Rights Reserved.
          a(href='http://www.masymbol.com/', target='_blank') Masymbol Technologies
          |  Pvt Ltd © 2016
        // End of One Page Sidebar Footer
      // End of One Page Sidebar
      // One Page Content
      .one-page-content
        // Header
        header.header.large.header-one-page.js-header-fixed
          .container-fluid.container-spaced
            .row
              .col-md-3.col-sm-6.col-xs-5
                .visible-sm-block.visible-xs-block
                  // Logo Image
                  a.logo-image(href='/')
                    img.img-responsive(src='https://s3.amazonaws.com/skilledtree-public/logo.png', alt='logo')
                  // End of Logo Image
              .col-md-12.col-sm-6.col-xs-7
                // Menu
                nav.right.helper
                  ul.menu.sf-menu.js-menu
                    li
                      a(href='/recruiter')
                        i.fa.fa-home.fa-lg
                    li
                      a(href='/recruiter/introduction') Introduction
                    li
                      a(href='/recruiter/jobs') Jobs
                    li
                      a(href='/recruiter/employees') Employees
                    li
                      a.active(href='/recruiter/resumes') Resumes 
                    li
                      a(href='/recruiter/header') Header
                    li
                      a(href='/recruiter/dashboard')
                        | Dashboard
                // End of Menu
        // End of Header
        #content
          .container-fluid.container-spaced
            .col-md-12
              // Category Info
              #Assigned_resumes.category-info.helper.pt0
                h1
                  | Assigned Resumes
                  // Fragment Identifier
                  // End of Fragment Identifier
                br
                .row
                  .col-md-8
                    img(src='/images/R23.png', width='100%')
                br
                br
            .col-md-12
              // Category Info
              #Assign_a_job.category-info.helper.pt0
                h1
                  | Assign a job
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Upload a candidate resume with the following information such as their resume, Candidate Name, Candidate Email/Phone, Skill Sets and the employee who referred the candidate by clicking the ‘Upload resume’ button in the Resumes section.This job will be assigned to you.
            .row
              .col-md-8
                img(src='/images/assign.png', width='100%')
            br
            br
            .col-md-12
              // Category Info
              #Update_the_resume_status.category-info.helper.pt0
                h1
                  | Update the resume status
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | After reviewing / interviewing the candidates, you change their resume status in the ‘Resumes’ Section by clicking on the editable dropdown.
            .row
              .col-md-8
                img(src='/images/update.png', width='100%')
            br
            br
            .col-md-12
              // Category Info
              #Edit_the_skills.category-info.helper.pt0
                h1
                  | Edit the skills
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Candidates Skills can be modified by the recruiters by changing the editable dropdown  in the resumes repository list.
            .row
              .col-md-8
                img(src='/images/editskill.png', width='100%')
            br
            br
            .col-md-12
              // Category Info
              #Resumes_based_on_circle.category-info.helper.pt0
                br
                h1
                  | Resumes based on circle
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | There are few default circles to upload resumes. Employees who uploaded their friend’s resume will come under ‘Employee Circle’.Similarly friends and their friends will come as ‘Friends’ & ‘Friends of Friends’. Candidates who have applied to any jobs from the ‘Careers’ page those resumes will come under ‘Careers’. If the Candidate applied to any public jobs which is on the left sidebar where he can search and apply to it, will come under ‘Public’.
            .row
              .col-md-8
                img(src='/images/R24.png', width='100%')
            br
            br
            .row
              .col-md-8
                img(src='/images/R25.png', width='100%')
            .col-md-12
              // Category Info
              #Archive.category-info.helper.pt0
                br
                br
                h1
                  | Archive
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | HRs can archive the selected resume if they want. And they can unarchive it later by clicking on the Archive icon in the resumes list.
            .col-md-12
              // Category Info
              #Send_a_Message.category-info.helper.pt0
                h1
                  | Send a Message
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | You can  stay connected with any employees  in the organization by clicking the chat icon.
            .col-md-12
              // Category Info
              #Download_report.category-info.helper.pt0
                h1
                  | Download Report
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Resume Repository can be downloaded in the form of Excel. You can download the report by clicking on the ‘Download’ button which is beside to ‘Archive’. Downloaded Excel will be saved with the extension of xls.
            .col-md-12
              // Category Info
              #All_Resumes.category-info.helper.pt0
                br
                h1
                  | All Resumes
                  // Fragment Identifier
                  // End of Fragment Identifier
                br
            .row
              .col-md-8
                img(src='/images/R27.png', width='100%')
            .col-md-12
              // Category Info
              #Assign_job.category-info.helper.pt0
                br
                h1
                  | Assign job
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Assign a job which you posted in the editable job link in the editable dropdown
            .col-md-12
              // Category Info
              #Download_Resume.category-info.helper.pt0
                h1
                  | Download Resume
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | You can download any candidate’s resume for the interview process.
      // End of One Page Content
    script(src='https://s3.amazonaws.com/skilledtree-public/all.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
