extends layout

block content
    .page.js-page
      // One Page Sidebar
      .one-page-sidebar
        // One Page Sidebar Header
        .one-page-sidebar-header
          // One Page Logo
          .one-page-logo
            // Logo Image
            a.logo-image(href='/friends')
              img(src='/images/logo2.png')
            br
            a.logo-image(href='/friends')
              img(src='/images/friend.png')
            // End of Logo Image
          // End of One Page Logo
          // One Page Meta
          // End of One Page Meta
        // End of One Page Sidebar Header
        // One Page Nav
        .one-page-nav-wrapper.js-custom-scrollbar
          ul.one-page-nav.js-one-page-nav.js-menu-vertical(data-prepend-to='.js-prepend-mobile-menu')
            li.is-active
              a(href='#Add_your_friends')
                span.one-page-nav-icon
                  i.fa.fa-user-plus
                | Add your friends
            li
              a(href='#Upload_resume\
              ')
                span.one-page-nav-icon
                  i.fa.fa-upload
                | Upload Resume
            li
              a(href='#Send_your_resume\
              ')
                span.one-page-nav-icon
                  i.fa.fa-send
                | Send your resume
            li
              a(href='#Search\
              ')
                span.one-page-nav-icon
                  i.fa.fa-search
                | Search
        // End of One Page Nav
        // One Page Sidebar Footer
        footer.one-page-sidebar-footer
          | All Rights Reserved.
          a(href='http://www.masymbol.com/', target='_blank') Masymbol Technologies
          |  Pvt Ltd © 2016
        // End of One Page Sidebar Footer
      // End of One Page Sidebar
      // One Page Content
      .one-page-content
        // Header
        header.header.large.header-one-page.js-header-fixed
          .container-fluid.container-spaced
            .row
              .col-md-3.col-sm-6.col-xs-5
                .visible-sm-block.visible-xs-block
                  // Logo Image
                  a.logo-image(href='/')
                    img.img-responsive(src='https://s3.amazonaws.com/skilledtree-public/logo.png', alt='logo')
                  // End of Logo Image
              .col-md-12.col-sm-6.col-xs-7
                // Menu
                nav.right.helper
                  ul.menu.sf-menu.js-menu
                    li
                      a(href='/friends')
                        i.fa.fa-home.fa-lg
                    li
                      a(href='/friends/introduction')
                        | Introduction
                    li
                      a(href='/friends/current_openings')
                        | Current Openings
                    li
                      a(href='/friends/job_tweets') Job Tweets
                    li
                      a.active(href='/friends/share_resumes') Share your resume
                    li
                      a(href='/friends/resumes') Resumes
                    li
                      a(href='/friends/my_profile') My Profile
                    li
                      a(href='/friends/header') Header
                // End of Menu
        // End of Header
        #content
          .container-fluid.container-spaced
            .col-md-12
              // Category Info
              #Add_your_friends.category-info.helper.pt0
                h1
                  | Add your friends
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Maximize your network by adding your friends as much as you can. So that you can share your resume for job reference in your friends company by selecting the contacts from the list.
            .row
              .col-md-8
                img(src='/images/F13.png', width='100%')
            br
            br
            .row
              .col-md-8
                img(src='/images/F6.png', width='100%')
            .col-md-12
              // Category Info
              #Upload_resume.category-info.helper.pt0
                br
                h1
                  | Upload Resume
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | After enlarging your network, upload your resume in the ‘Profile’ section.
            .col-md-12
              // Category Info
              #Send_your_resume.category-info.helper.pt0
                h1
                  | Send your resume
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | Select the friends whom you want to share your resume for job recommendation. An Email will be sent to them along with your resume automatically.
            .col-md-12
              // Category Info
              #Search.category-info.helper.pt0
                h1
                  | Search
                  // Fragment Identifier
                  // End of Fragment Identifier
                p.category-content
                  | You can search any data within the fields in the table.
            .row
              .col-md-8
                img(src='/images/F8.png', width='100%')
      // End of One Page Content
    script(src='https://s3.amazonaws.com/skilledtree-public/all.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    //
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
